body{
    background-color: gray;
}

#folha{
    background-color: white;
    height: 29.7cm;
    width: 21cm;
    margin-left: auto;
    margin-right: auto;
    font-family: "Arial", sans-serif;
    padding: 3cm 2cm 2cm 3cm;
}

h1{
    font-weight: bold;
}
h2{
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    font-size: 20px;
}
h3{
    font-weight: normal;
    text-align: justify;
    line-height: 1.5;
}
h4{
    font-weight: normal;
    text-align: justify;
    font-size: 18px;
    line-height: 0.7;
}